# Import Packages

In [1]:
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

# Ingest 311 Data

In [2]:
#df311 = pd.read_csv('https://data.cityofnewyork.us/resource/fhrw-4uyv.csv?$limit=100000000&Agency=HPD&$select=created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status', parse_dates=True)
df311 = pd.read_csv('https://cocl.us/311_NYC_Dataset')
print(df311.head())
print(df311.dtypes)

   Unnamed: 0  Unique Key            Created Date Closed Date  \
0           0    45531130  02/02/2020 06:09:17 AM         NaN
1           1    45529784  02/02/2020 02:15:24 PM         NaN
2           2    45527528  02/02/2020 02:27:41 AM         NaN
3           3    45530329  02/02/2020 12:13:18 PM         NaN
4           4    45528814  02/02/2020 01:59:44 PM         NaN

         Complaint Type         Location Type  Incident Zip  \
0        HEAT/HOT WATER  RESIDENTIAL BUILDING       10019.0
1  UNSANITARY CONDITION  RESIDENTIAL BUILDING       11204.0
2        HEAT/HOT WATER  RESIDENTIAL BUILDING       11372.0
3        HEAT/HOT WATER  RESIDENTIAL BUILDING       10458.0
4             APPLIANCE  RESIDENTIAL BUILDING       11209.0

          Incident Address         Street Name Address Type             City  \
0     426 WEST   52 STREET    WEST   52 STREET      ADDRESS         NEW YORK
1           1751 67 STREET           67 STREET      ADDRESS         BROOKLYN
2          87-15 37 AVENUE           37 AVENUE      ADDRESS  Jackson Heights
3  2405 SOUTHERN BOULEVARD  SOUTHERN BOULEVARD      ADDRESS            BRONX
4            223 78 STREET           78 STREET      ADDRESS         BROOKLYN

  Status                             Resolution Description    Borough  \
0   Open  The following complaint conditions are still o...  MANHATTAN
1   Open  The following complaint conditions are still o...   BROOKLYN
2   Open  The following complaint conditions are still o...     QUEENS
3   Open  The following complaint conditions are still o...      BRONX
4   Open  The following complaint conditions are still o...   BROOKLYN

    Latitude  Longitude
0  40.765132 -73.988993
1  40.618484 -73.992673
2  40.750269 -73.879432
3  40.853773 -73.881558
4  40.629745 -74.030533
Unnamed: 0                  int64
Unique Key                  int64
Created Date               object
Closed Date                object
Complaint Type             object
Location Type              object
Incident Zip              float64
Incident Address           object
Street Name                object
Address Type               object
City                       object
Status                     object
Resolution Description     object
Borough                    object
Latitude                  float64
Longitude                 float64
dtype: object

### The Columns Created Date and Closed Date are of object data type and not datetime as expected.  Need to convert them!

In [3]:
df311['Created Date'] = pd.to_datetime(df311['Created Date'], format="%m/%d/%Y %I:%M:%S %p")
df311['Closed Date'] = pd.to_datetime(df311['Closed Date'], format="%m/%d/%Y %I:%M:%S %p")
print(df311.head())
print(df311.dtypes)

   Unnamed: 0  Unique Key        Created Date Closed Date  \
0           0    45531130 2020-02-02 06:09:17         NaT
1           1    45529784 2020-02-02 14:15:24         NaT
2           2    45527528 2020-02-02 02:27:41         NaT
3           3    45530329 2020-02-02 12:13:18         NaT
4           4    45528814 2020-02-02 13:59:44         NaT

         Complaint Type         Location Type  Incident Zip  \
0        HEAT/HOT WATER  RESIDENTIAL BUILDING       10019.0
1  UNSANITARY CONDITION  RESIDENTIAL BUILDING       11204.0
2        HEAT/HOT WATER  RESIDENTIAL BUILDING       11372.0
3        HEAT/HOT WATER  RESIDENTIAL BUILDING       10458.0
4             APPLIANCE  RESIDENTIAL BUILDING       11209.0

          Incident Address         Street Name Address Type             City  \
0     426 WEST   52 STREET    WEST   52 STREET      ADDRESS         NEW YORK
1           1751 67 STREET           67 STREET      ADDRESS         BROOKLYN
2          87-15 37 AVENUE           37 AVENUE      ADDRESS  Jackson Heights
3  2405 SOUTHERN BOULEVARD  SOUTHERN BOULEVARD      ADDRESS            BRONX
4            223 78 STREET           78 STREET      ADDRESS         BROOKLYN

  Status                             Resolution Description    Borough  \
0   Open  The following complaint conditions are still o...  MANHATTAN
1   Open  The following complaint conditions are still o...   BROOKLYN
2   Open  The following complaint conditions are still o...     QUEENS
3   Open  The following complaint conditions are still o...      BRONX
4   Open  The following complaint conditions are still o...   BROOKLYN

    Latitude  Longitude
0  40.765132 -73.988993
1  40.618484 -73.992673
2  40.750269 -73.879432
3  40.853773 -73.881558
4  40.629745 -74.030533
Unnamed: 0                         int64
Unique Key                         int64
Created Date              datetime64[ns]
Closed Date               datetime64[ns]
Complaint Type                    object
Location Type                     object
Incident Zip                     float64
Incident Address                  object
Street Name                       object
Address Type                      object
City                              object
Status                            object
Resolution Description            object
Borough                           object
Latitude                         float64
Longitude                        float64
dtype: object

In [4]:
df311.sort_values(by=['Created Date'], ascending=True, inplace=True)
print(df311.head())
print(df311.tail())

        Unnamed: 0  Unique Key Created Date Closed Date        Complaint Type  \
252214      252214    15636509   2010-01-01  2010-01-06               HEATING
251419      251419    15635215   2010-01-01  2010-01-15  GENERAL CONSTRUCTION
251420      251420    15635216   2010-01-01  2010-02-16              PLUMBING
251421      251421    15635217   2010-01-01  2010-01-26              PLUMBING
251422      251422    15635218   2010-01-01  2010-01-10              PLUMBING

               Location Type  Incident Zip        Incident Address  \
252214  RESIDENTIAL BUILDING       10467.0     3041 HOLLAND AVENUE
251419  RESIDENTIAL BUILDING       10459.0     919 PROSPECT AVENUE
251420  RESIDENTIAL BUILDING       11237.0    316 JEFFERSON STREET
251421  RESIDENTIAL BUILDING       10451.0       815 GERARD AVENUE
251422  RESIDENTIAL BUILDING       10457.0  2007 LAFONTAINE AVENUE

              Street Name Address Type      City  Status  \
252214     HOLLAND AVENUE      ADDRESS     BRONX  Closed
251419    PROSPECT AVENUE      ADDRESS     BRONX  Closed
251420   JEFFERSON STREET      ADDRESS  BROOKLYN  Closed
251421      GERARD AVENUE      ADDRESS     BRONX  Closed
251422  LAFONTAINE AVENUE      ADDRESS     BRONX  Closed

                                   Resolution Description      Borough  \
252214  The Department of Housing Preservation and Dev...  Unspecified
251419  The Department of Housing Preservation and Dev...  Unspecified
251420  The Department of Housing Preservation and Dev...  Unspecified
251421  The Department of Housing Preservation and Dev...  Unspecified
251422  The Department of Housing Preservation and Dev...  Unspecified

         Latitude  Longitude
252214  40.870179 -73.865262
251419  40.821710 -73.900789
251420  40.704523 -73.926037
251421  40.825863 -73.925913
251422  40.847562 -73.893710
     Unnamed: 0  Unique Key        Created Date Closed Date  Complaint Type  \
606         606    45528905 2020-02-02 23:47:11         NaT  HEAT/HOT WATER
653         653    45530811 2020-02-02 23:52:15         NaT  HEAT/HOT WATER
565         565    45531570 2020-02-02 23:53:13         NaT  HEAT/HOT WATER
63           63    45527566 2020-02-02 23:56:06         NaT  HEAT/HOT WATER
641         641    45531286 2020-02-02 23:58:57         NaT  HEAT/HOT WATER

            Location Type  Incident Zip         Incident Address  \
606  RESIDENTIAL BUILDING       10468.0     2625 GRAND CONCOURSE
653  RESIDENTIAL BUILDING       11432.0  88-22 PARSONS BOULEVARD
565  RESIDENTIAL BUILDING       10453.0     2095 GRAND CONCOURSE
63   RESIDENTIAL BUILDING       10453.0     2095 GRAND CONCOURSE
641  RESIDENTIAL BUILDING       11208.0       2776 PITKIN AVENUE

           Street Name Address Type      City Status  \
606    GRAND CONCOURSE      ADDRESS     BRONX   Open
653  PARSONS BOULEVARD      ADDRESS   Jamaica   Open
565    GRAND CONCOURSE      ADDRESS     BRONX   Open
63     GRAND CONCOURSE      ADDRESS     BRONX   Open
641      PITKIN AVENUE      ADDRESS  BROOKLYN   Open

                                Resolution Description   Borough   Latitude  \
606  The complaint you filed is a duplicate of a co...     BRONX  40.865154
653  The complaint you filed is a duplicate of a co...    QUEENS  40.706441
565  The complaint you filed is a duplicate of a co...     BRONX  40.853858
63   The complaint you filed is a duplicate of a co...     BRONX  40.853858
641  The complaint you filed is a duplicate of a co...  BROOKLYN  40.675725

     Longitude
606 -73.895088
653 -73.802062
565 -73.902469
63  -73.902469
641 -73.869642

In [5]:
df311['Incident Address'].isnull().sum()

52825

In [14]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_aa35a70e06674698adf32b5300d50027 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='dZ6022z7biBTKIhq21NmGMiLTS9RPvtNYXyGJvn1N96l',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

In [15]:
#Import Bronx Data
body = client_aa35a70e06674698adf32b5300d50027.get_object(Bucket='capstonenyc311-donotdelete-pr-xxpuooovncc8yn',Key='BX_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

dfBX = pd.read_csv(body)
dfBX.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BX,2260,1,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
1,BX,2260,4,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
2,BX,2260,10,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
3,BX,2260,17,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
4,BX,2260,18,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1

In [16]:
#Import Queens Data
body = client_aa35a70e06674698adf32b5300d50027.get_object(Bucket='capstonenyc311-donotdelete-pr-xxpuooovncc8yn',Key='QN_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

dfQN = pd.read_csv(body)
dfQN.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,QN,6,1,402,1.0,NaN,30.0,26.0,11101.0,L115,...,Y,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
1,QN,6,3,402,1.0,1015.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
2,QN,6,8,402,1.0,1011.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,08/07/2013,1,1.0,1.0,18V1
3,QN,6,20,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
4,QN,6,30,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/08/2017,1,1.0,1.0,18V1

In [17]:
dfBX['ZipCode'].unique()

array([10454., 10455.,    nan, 10451., 10456., 10452., 10453., 10465.,
       10474., 11370., 10459., 10472., 10457., 10460., 10458., 10468.,
       10463., 10467., 10470., 10466., 10473., 10462., 10461., 10469.,
       10475., 10464., 10471.])

In [18]:
dfQN['ZipCode'].unique()

array([11101., 11109.,    nan, 11104., 11377., 11106., 11102., 11103.,
       11105., 11370., 11369., 11372., 11373., 11385., 11368., 11421.,
       11355., 11374., 11375., 11367., 11415., 11378., 11379., 11418.,
       11432., 11356., 11420., 11357., 11354., 11697., 11693., 11358.,
       11361., 11365., 11364., 11360., 11359., 11435., 11366., 11423.,
       11363., 11362., 11427., 11426., 11428., 11004., 11005., 11040.,
       11001., 11416., 11417., 11419., 11433., 11413., 11434., 11412.,
       11429., 11411., 11414., 11430., 11436., 11422., 11691., 11692.,
       11694., 11695.])

# Problem Set 1: Top Complaint

In [19]:
df311.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6019843 entries, 252214 to 641
Data columns (total 16 columns):
Unnamed: 0                int64
Unique Key                int64
Created Date              datetime64[ns]
Closed Date               datetime64[ns]
Complaint Type            object
Location Type             object
Incident Zip              float64
Incident Address          object
Street Name               object
Address Type              object
City                      object
Status                    object
Resolution Description    object
Borough                   object
Latitude                  float64
Longitude                 float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(9)
memory usage: 780.8+ MB

In [24]:
df311['Complaint Type'].nunique()

30

In [34]:
#It appears that there are data entry errors where "ELECTRIC" and "electric" are input.
#Therefore, we need to clean up the 'Complaint Type' column first before counting!
df311['Complaint Type'] = df311['Complaint Type'].str.upper() 
df311.groupby('Complaint Type')['Unique Key'].nunique()

Complaint Type
AGENCY                          9
APPLIANCE                  112835
CONSTRUCTION                 5078
DOOR/WINDOW                205278
ELECTRIC                   307311
ELEVATOR                     6725
FLOORING/STAIRS            137402
GENERAL                    152471
GENERAL CONSTRUCTION       500863
HEAT/HOT WATER            1261574
HEATING                    887850
HPD LITERATURE REQUEST      52824
MOLD                            1
NONCONST                   260890
OUTSIDE BUILDING             7148
PAINT - PLASTER            361257
PAINT/PLASTER              346438
PLUMBING                   711141
SAFETY                      51953
STRUCTURAL                     16
UNSANITARY CONDITION       457142
VACANT APARTMENT                6
WATER LEAK                 193631
Name: Unique Key, dtype: int64

Based on the table above, the complaint types with 800,000 or more complaint records are "Heat/Hot Water" and "Heating"

# Problem Set 2: Areas Most Effected by Top Complaints

In [35]:
dfTop = df311[(df311['Complaint Type'] == 'HEATING') | (df311['Complaint Type'] == 'HEAT/HOT WATER')]
dfTop.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
252214,252214,15636509,2010-01-01,2010-01-06,HEATING,RESIDENTIAL BUILDING,10467.0,3041 HOLLAND AVENUE,HOLLAND AVENUE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,Unspecified,40.870179,-73.865262
251424,251424,15635220,2010-01-01,2010-01-02,HEATING,RESIDENTIAL BUILDING,11103.0,30-36 42 STREET,42 STREET,ADDRESS,ASTORIA,Closed,The Department of Housing Preservation and Dev...,Unspecified,40.762232,-73.914148
251401,251401,15635196,2010-01-01,2010-01-06,HEATING,RESIDENTIAL BUILDING,11216.0,802 PARK PLACE,PARK PLACE,ADDRESS,BROOKLYN,Closed,The Department of Housing Preservation and Dev...,Unspecified,40.673472,-73.951264
251402,251402,15635198,2010-01-01,2010-01-02,HEATING,RESIDENTIAL BUILDING,10033.0,554 WEST 184 STREET,WEST 184 STREET,ADDRESS,NEW YORK,Closed,More than one complaint was received for this ...,Unspecified,40.850690,-73.931492
251403,251403,15635199,2010-01-01,2010-01-09,HEATING,RESIDENTIAL BUILDING,11222.0,133 FRANKLIN STREET,FRANKLIN STREET,ADDRESS,BROOKLYN,Closed,The Department of Housing Preservation and Dev...,Unspecified,40.730837,-73.957763

In [38]:
dfTop.groupby('Borough')['Unique Key'].nunique()

Borough
BRONX            606133
BROOKLYN         574845
MANHATTAN        423039
QUEENS           244122
STATEN ISLAND     18368
Unspecified      282917
Name: Unique Key, dtype: int64

Uh oh!  It looks like a lot of the complaints do not have Boroughs identified.  Do I need to fix that?

In [47]:
dfTop.groupby('Incident Zip')['Unique Key'].nunique().sort_values().tail()

Incident Zip
10453.0    57818
10468.0    58190
10458.0    65372
10467.0    66073
11226.0    69041
Name: Unique Key, dtype: int64

In [48]:
dfTop.groupby('Incident Address')['Unique Key'].nunique().sort_values().tail()

Incident Address
9511 SHORE ROAD           5006
1025 BOYNTON AVENUE       5785
3810 BAILEY AVENUE        7115
89-21 ELMHURST AVENUE    11548
34 ARDEN STREET          13858
Name: Unique Key, dtype: int64

In [59]:
dfTop['Closed Date'].isnull().count()

2149424

In [58]:
dfTop['Closed Date'].count()

2133429

# Problem Set 3: Relationship between Housing Characteristic and Complaint

Based on the previous Problem Set, Heating and Heat/Hot Water complaints in the Bronx are the key!

In [62]:
dfBX.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

Wow that's a lot of columns.  Per the instructions, the recommended fields are Address, BldgArea, BldgDepth, BuiltFAR, CommFAR, FacilFAR, Lot, LotArea, LotDepth, NumBldgs, NumFloors, OfficeArea, ResArea, ResidFAR, RetailArea, YearBuilt, YearAlter1, ZipCode, YCoord, and XCoord.

In [63]:
dfBronx = dfBX[['Address','BldgArea','BldgDepth','BuiltFAR','CommFAR','FacilFAR','Lot','LotArea','LotDepth','NumBldgs','NumFloors','OfficeArea','ResArea','ResidFAR','RetailArea','YearBuilt','YearAlter1','ZipCode','YCoord','XCoord']]
dfBronx.head()

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord
0,122 BRUCKNER BOULEVARD,0,0.0,0.00,5.0,6.5,1,15000,200.0,1,0.0,0,0,6.02,0,0,0,10454.0,232162.0,1005957.0
1,126 BRUCKNER BOULEVARD,752,16.0,0.05,5.0,6.5,4,13770,100.0,2,1.0,272,0,6.02,0,1931,1994,10454.0,232156.0,1006076.0
2,138 BRUCKNER BOULEVARD,39375,200.0,1.13,5.0,6.5,10,35000,200.0,1,2.0,0,0,6.02,0,1931,0,10454.0,232036.0,1006187.0
3,144 BRUCKNER BOULEVARD,12500,85.0,5.00,5.0,6.5,17,2500,100.0,1,5.0,0,12500,6.02,0,1931,2001,10454.0,232033.0,1006299.0
4,148 BRUCKNER BOULEVARD,8595,70.0,4.58,5.0,6.5,18,1875,75.0,1,5.0,0,6876,6.02,1719,1920,2009,10454.0,232040.0,1006363.0